body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    margin: 0px;
	font-size: 13px;
    color: #333333;
}

.table {
	font-size: 13px;
    color: #333333;
}

.table td,
.table th {
	text-align: left;
	padding: 5px;
}

.table td {
	font-weight: 300;
}

section.main-container,
.main-header {
	width: 1000px;
	margin: 0px auto;
}

section.main-container {
	height: 100%;
}

section.main {
	padding: 20px;
}

header {
	width: 100%;
	height: 70px;
	color: #ecf1f5;
	background: #586878;
}

.main-header {
	padding-top: 5px;
	background: url('../images/logo.png') no-repeat 0px 9px;
	background-size: 70px 50px;
}


.main-header > .logo {
	font-size: 30px;
	font-weight: 400;
	padding-left: 80px;
}

.main-header > .slogen {
	font-size: 15px;
	font-weight: 100;
	padding-left: 80px;
}

h1 {
	text-transform: uppercase;
	font-size: 20px;
	margin: 0px;
	margin-bottom: 10px;
}

h5 {
	font-weight: 300;
	margin: 0px;
	margin-bottom: 10px;
    color: #666666;
}

.chart-container {
	margin: 20px 0px;
	display: table-row;
}

.table-cell {
	display: table-cell;
}

.full-width-chart {
	width: 960px;
	height: 400px;
	margin: 0 auto
}

.mid-width-chart {
	width: 660px;
	height: 400px;
	margin: 0 auto
}

#topRiskyTab {
	padding-left: 20px;
}

.risk {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.risk-critical {
	background-color: #d43427;
}

.risk-alert {
	background-color: #e6d616 ;
}

.risk-warning {
	background-color: #eaa419;
}

/* Highchart */
.highcharts-root {
	font-family: 'Lato', sans-serif !important;
    font-weight: 400;
}

.highcharts-axis-labels > text,
.highcharts-drilldown-data-label > text  {
	fill: #666666 !important;
}